# Pycharm
.idea*
*__pycache__*

# Python
venv*

# Vscode
.vscode/

# pooltool_telegram_bot
*.sqlite*
tickers*
files/
test/
ext*


block_minted
stake_change
slot_loaded
wallet_poolchange
wallet_poolchange_cost
wallet_poolchange_pledge
wallet_poolchange_margin
stake_change
epoch_summary

*.dbhelper.py.swp