# Pycharm
.idea*
*__pycache__*

# Python
venv*

# Vscode
.vscode/

# pooltool_telegram_bot
*.sqlite*
tickers*
files/
test/
ext*


block_minted
stake_change
slot_loaded
wallet_poolchange
stake_change

*.dbhelper.py.swp